.mail {
  background-color: rgb(99, 105, 197);
  font-size: 30px;
  color: white;
  border-radius: 8px;
  padding: 3px;
  text-decoration: none;
}

.day {
  display: flex;
}

.info > dt {
  float: left;
}

.cite > cite {
  float: left;
}
